html
    head
        meta(charset="UTF-8")
        title= title
        each style in styles
            link(rel="stylesheet" href=style)
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald")
    body
        div.header
            h1 You
                span Subs
            h4 by archfz

        div.content
            block content

    each script in scripts
        script(src=script)