html {
  margin: 0;
  padding: 0;
  background: radial-gradient(#141519, #010101);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Oswald;
  color: #8d98ac;
}

h2 {
  font-size: 26px;
}

h1, h2, h3, h4, h5 {
  color: #3d3662;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 10px 0 4px 0;
}

a {
  font-size: 16px;
  color: #8d98ac;
  text-decoration: none;
  border-bottom: 1px solid rgba(122, 131, 149, 0.37);
  cursor: pointer;

  &:hover {
    color: #9ca8be;
    background: rgba(122, 131, 149, 0.2);
    border-bottom: 1px solid rgba(122, 131, 149, 0.2);
  }
}

.header {
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;

  h1 {
    text-align: center;
    color: #425e74;
    text-shadow: 2px 2px rgb(24, 28, 32), 3px 3px 0px rgba(137, 169, 206, 0.23);
    margin: 1px 0 ;
    font-size: 36px;

    span {
      color: #32475a;
      font-size: 40px;
    }
  }

  h4 {
    text-align: center;
    color: #4b5481;
    opacity: 0.5;
    font-size: 14px;
    margin: 0;
    margin-top: -12px;
    margin-left: 4px;
    letter-spacing: 10px;
    padding-left: 8px;
  }
}

.content {
  position: relative;
}
