.register {
  max-width: 380px;
  margin: auto;
  background: #000000;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

  h2 {
    text-align: center;
    margin: 5px 0 20px;
  }

  input, select, textarea {
    width: 100%;
  }

  a {
    float: right;
    margin-top: 20px;
    opacity: 0.7;
  }
}